.contact {
  &-details {
    &-heading {
      text-transform: uppercase;
      text-align: center;
      width: 70%;
      padding: 60px 10px;
      // border-bottom: 1px solid #e4e4e4;
      // height: 30px;
      margin-left: 10rem;

      h1 {
        font-weight: 700;
        font-size: 48px;

        strong {
          background: #111;
          padding: 0px 25px;

          span {
            background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .title-bg {
        font-size: 110px;
        left: 0;
        letter-spacing: 10px;
        line-height: .7;
        position: absolute;
        right: 0;
        // top: 50%;
        text-transform: uppercase;
        font-weight: 800;
        transform: translateY(-95%);
        color: hsla(0, 0%, 100%, .07);
      }
    }

    &-container {
      margin-right: 0px !important;
    }

    &-leftsidebar {
      h3 {
        text-transform: uppercase;
      }
    }

    &-address {
      ul {
        list-style-type: none;

        li {
          padding-top: 23px;

          i {
            font-size: 33px;
            color: #ffb400;
            position: relative;
            top: 10px;
          }

          a {
            position: absolute;
            left: 68px;
            // top: 2px;
            // margin-left: -50px;
            margin-top: 26px;
          }

          span {
            text-transform: uppercase;
            margin-left: 20px;
            position: relative;
            top: -7px;
            font-size: 15px;

            strong {
              margin-left: 58px;
            }
          }
        }
      }
    }
  }

  &-form {
    // margin-top: 45px;

    &-info {
      padding: 20px;
      div {
        .form-group {
          .form-control {
            border-radius: 0 !important;
            &:focus {
              box-shadow: none;
              border-color: none !important;
            }
          }
        }
      }
    }

    &-message {
      padding: 5px 20px;
      textarea{
        border-radius: 0!important;
        &:focus{
          border-color: none!important;
          outline: 0!important;
          box-shadow: none!important;
        }
      }
    }

    &-button {
      padding: 5px 20px;

      button {
        text-transform: uppercase;
        outline: none;
        border-image: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%) 1 !important;
        background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // &:hover {
          
        // }

        &:focus {
          box-shadow: none;
        }

        &:active:focus {
          box-shadow: none !important
        }
      }
    }
  }
}