#experience-content {
  margin-top: 10rem;
}

.experience {
  &-content {
    margin-top: 8rem;
  }

  &-details {
    &-heading {
      text-align: center;
      text-transform: uppercase;
      h1 {
        font-weight: 700;
        font-size: 48px;

        strong {
          background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &-company {
      text-align: end;

      h4 {
        font-weight: 600;

        strong {
          display: block;
          color: #ffb400;
        }
      }
    }

    &-specialist {
      h5 {
        color: #10C296;
      }

      p {
        line-height: 1.25rem;
        font-weight: 600;
      }
    }

    &-projects {
      margin-top: 1.2rem;
      margin-left: .7rem;

      ul {
        li {
          list-style: disc;

          h6 {
            font-weight: 600;
          }

          // p{
          //   font-size: .81rem;
          // }
          ul {
            li {
              list-style: none;
              padding: 5px 8px;
              font-size: .75rem;
            }
            .dot{
              font-size: 19px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #experience-content {
    margin-top: 7rem;
  }

  .experience {
    &-details {
      &-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding: 0px !important;
      }

      &-company {
        justify-content: center;
        text-align: center;
        padding-right: 0px !important;
        padding-left: 0px !important;
      }

      &-professional {
        padding: 1rem 0.5rem !important;
      }
    }
  }
}