.tab-panel_list {
  .home {
    &-details-container {
      .bg {
        // background-image: url('../../images/subharaj.jpg');
        img{

          background-size: cover;
          background-repeat: no-repeat;
          background-position: top;
          height: calc(75vh - 50px);
          z-index: 999;
          border-radius: 20px;
          left: 100px;
          top: 18px;
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
          position: absolute;
        }
      }
    }

    &-details {
      &-uppertext {
        max-width: 650px;
        margin: 0 auto;

        h2 {
          font-size: 40px;
          // line-height: 62px;
          font-weight: 700;
          margin: 18px 0 10px;
          position: relative;
          padding-left: 60px;
          color: #ffb400;

          span {
            font-size: 28px;
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 29px;
            height: 4px;
            width: 40px;
            border-radius: 10px;
            background-color: #ffb400;
          }
        }
      }
      &-language{
        padding-left: 60px ;
        h4{
          span{
            background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

  }
}



@media only screen and (max-width:767px){
  
}