.yellow {
  .react-tabs {
    padding: 10px 0px;

    .home {
      font-size: 20px;
      position: relative;
      height: 490px;
      min-height: 20px;

      &-details {
        text-align: start;

        &-text {
          padding-left: 60px;
        }

        &-resume {
          padding-left: 60px;
          margin-top: 20px;

          .btn-primary {
            border-radius: 25px;
            box-shadow: 0px 10px 20px 5px rgba(251, 161, 40, 0.42);
            outline: none;
            border: none;
            background-color: #ffb400;

            &:active {
              box-shadow: 0px 10px 20px 5px rgba(251, 161, 40, 0.42);
              background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
              // background-clip: to-upper-case($string: "text");
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            &:hover {
              background-color: #d69100;
            }
          }
        }
      }
    }
  }
}

// .color-block {
// position: absolute;
// height: 86.2%;
// width: 95.9%;
// transform: rotate(-15deg);
// left: -107%;
// top: -66.86%;
// background-color: #ffb400;
// }

.color-block {
  position: absolute;
  height: 198rem;
  width: 300px;
  transform: rotate(-15deg);
  left: -423px;
  top: -156.87rem;
  background-color: #ffb400;
}


@media only screen and (max-width: 767px) {
  #home{
    height:auto!important;
  }
  .home{
    &-details{
      &-container{
        margin-right: -15px!important;
      }
      &-uppertext{
        text-align: center;
        h2{
          padding-left: 0px!important;
          &::before{
            content: none!important;
          }
        }
      }
      &-language{
        padding-left: 0px!important;
      }
      &-text{
        padding-left: 0px!important;
      }
      &-resume{
        padding-left: 0px!important;
      }
    }
  }
  .mobile {
    text-align: center;
    margin-top: 4rem;
    img {
      width: 230px;
      height: 230px;
      border-radius: 100%;
      color: transparent;
      &.img-mobile {
        border: 3px solid ;
        background: linear-gradient(to right, #10C296, #ef4444, #1e293b);
        margin: 0 auto 30px;
        object-fit: cover;
      }
    }
  }
}