.yellow {
  .react-tabs {
    padding: 10px 0px;

    .home {
      font-size: 20px;
      position: relative;
      height: 490px;
      min-height: 20px;

      &-details {
        text-align: start;

        &-text {
          padding-left: 60px;
        }

        &-resume {
          padding-left: 60px;
          margin-top: 20px;

          .btn-primary {
            border-radius: 25px;
            box-shadow: 0px 10px 20px 5px rgba(251, 161, 40, 0.42);
            outline: none;
            border: none;
            background-color: #ffb400;

            &:active {
              box-shadow: 0px 10px 20px 5px rgba(251, 161, 40, 0.42);
              background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            &:hover {
              background-color: #d69100;
            }
          }
        }
      }
    }
  }
}

.color-block {
  position: absolute;
height: 92%;
width: 98.7%;
transform: rotate(-15deg);
left: -92.1%;
top: -56.2%;
background-color: #ffb400;
}