.sidebar {
  &-menu {
    position: absolute;
    right: 33px;
    top: 8px;
  }

  &-nav {
    position: fixed;
    right: 30px;
    z-index: 3;
    display: flex;
    align-items: center;
    top: 52%;
    opacity: 1;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transform: translateY(-50%);
    z-index: 2;

    .icon-box h2 {
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      color: #fff;
      line-height: 50px;
      font-weight: 500;
      transition: all .5s;
      border-radius: 30px;
      text-transform: uppercase;
      padding: 0 25px 0 30px;
      height: 50px;
      margin: 0;
      font-size: 15px;
      letter-spacing: 2px;
    }

    .icon-box:hover h2 {
      opacity: 1;
      right: 27px;
      margin: 0;
      text-align: center;
      border-radius: 30px 0 0 30px;
    }

    ul.icon-menu {
      margin: 0;
      padding: 0;

      li.icon-box {
        width: 50px;
        height: 50px;
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        margin: 20px 0;
        border-radius: 50%;
        background: #2b2a2a;
        cursor: pointer;

        a {
          // padding: 11px;
          // margin-left: 14px;
          // margin-top: 4px;

          i {
            color: #ddd;
            font-size: 16px;
            transition: .3s;
          }

          i.material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -moz-font-feature-settings: 'liga';
          }
        }

        &:hover {
          background-color: #ffb400;
        }

        &:hover h2 {
          background-color: #ffb400;
        }
      }
    }
  }
}