#technology-content{
    margin-top: 10rem;
  }

.technology {
  &-content{
    margin-top: 7rem;
  }
  &-details {
    &-container {
      justify-content: center;
    }

    &-heading {
      text-transform: uppercase;
      text-align: center;

      h1 {
        font-weight: 700;
        font-size: 48px;
        strong{
          background: linear-gradient(to right, #ffb400 0%, #ef4444 50%, #1e293b 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        span {
          font-size: 32px;
        }
      }
    }

    &-tabhead {
      margin: 1rem 0;

      li{
        padding: 1rem;

        .active{
          color: #0071cb !important;
        }
        a{
          font-size: .96rem !important;
          color: #e3e3e3!important;
          &::after {
            content: "";
            background-color: cornflowerblue;
            height: 3px;
            width: 0;
            transition: 0.5s;
            display: block;
          }
          &:hover::after{
            background-color: #0071cb;
            width: 100%;
          }
        }
      }
    }

    &-tabcontent {
      display: flex;
      justify-content: center;

      // left: 190px;
      .tab-pane {
        width: 70%;
      }

      .react {
        &-ul {
          margin-left: 24px;
          position: relative;
        }

        &-li {
          padding: 1.3rem 1.72rem;
          background: linear-gradient(to bottom, #0071cb, rgba(0, 113, 203, 0));
          border-radius: .75rem;
          flex-direction: column;
          border-bottom-left-radius: 0.75rem;
          border-bottom-right-radius: 0.75rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform .3s;
          margin: 11px;
          box-shadow: 0px 5px 11px 2px #e3e3e3 inset;

          // &:hover {
          //   transform: scale(1.1);
          // }
        }
      }
    }
  }
}

.nav-link.active::after {
  background-color: #0071cb !important;
  width: 100%;
}


@media only screen and (max-width:767px){

  #technology-content {
    margin-top: 8rem;
  }
  
  .technology{
    &-details{
      &-tabhead{
        li{
          padding: 0rem;
        }
      }
      &-tabcontent{
        .tab-pane {
          width: auto;
        }
        .react{
          &-ul{
            display: flex;
            justify-content: center;
            margin-left: 0px!important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px){
  #technology-content {
    margin-top: 0rem;
  }
  .technology-details-tabcontent {
    .tab-pane {
      width: 77%;
    }
  }
}